
.homelink {
  margin: 0.3em;
}

.gbcmain {
  font-family: "Myriad Pro",sans-serif;
  background: #FFF;
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
}

h1 { font: 125%; color: #002560; margin: 0.06em 0 0.06em 0; padding-left: 0; }
h2 { font: 113%; color: #101034; margin: 0.8em 0 0.06em 0; padding-left: 0; }
h3 { font: 113%; color: #101034; margin: 0.8em 0 0.6em 0; padding-left: 0; }
h4 { font: 100%; color: #808080; margin: 0.1em 0 0.30em 0; padding-left: 0; }

img {
  border: 0px;
}

.headbit {
  background-repeat: no-repeat;
  background-color: #f3f3ec;
  height: 100%;
  width: 100%;
}

.headbit2 {
  background-image: url(../p/head_bg_fade.png);
  background-repeat: no-repeat;
  background-color: #f3f3ec;
  padding-left: 2.0em;
  height: 100%;
  width: 100%;
}

.sidebar {
  vertical-align: top;
  background: #c8d0e0;
  border: solid 1px #c8d0e0;
  padding: 0.5em 0.1em 0.5em 1.0em;
  margin: 0.2em 0.2em 0 0.3em;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.faqq {
  padding: 0.4em 1em 0.2em 0.8em;
  width: 70%;
  text-align: justify;
}

.faqa {
  padding: 0.2em 1em 1.2em 1.5em;
  width: 70%;
  text-align: justify;
}

.sidebarel {
  white-space: nowrap;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 95%;
}

.tp {
  width: 95%;
  text-align: justify;
}

.tpomg {
  width: 95%;
  font-size: 140%;
}

.tpar {
  width: 70%;
  text-align: justify;
}

.navrel {
  white-space: nowrap;
  padding: 0.2em 0.6em;
  font-size: 125%;
}

.navsep {
  color: #101010;
  font-size: 125%;
}

.footer {
  padding: 0.1em 1.0em;
  vertical-align: bottom;
  color: #808080;
  font-size: 80%;
}

.hr0 {
  color: #a0a0a0;
  width: 97%;
}

.content {
  padding: 0.9em 2.0em;
}

A         { color: #002560; }
A:hover   { color: #004b90; }
A:active  { color: #0050bf; }

A.nd         { color: #002560; text-decoration: none; }
A.nd:hover   { color: #0051a5; text-decoration: none; }
A.nd:active  { color: #0060d4; text-decoration: none; }

.prod1 {
  vertical-align: top;
  padding: 0.2em 0.9em;
  text-align: justify;
}

.prod2 {
  vertical-align: top;
  white-space: nowrap;
  padding: 0.2em 0.5em;
}

.prod2r {
  vertical-align: top;
  white-space: nowrap;
  padding: 0.2em 0.5em;
  text-align: right;
}

.mufil {
  font-size: 50%;
}

.stupidimage {
}

.ttt   { }
.ttt2  { padding-top: 0.8em; font-size: 70%; }
.ttu   { font: 90%; }
.ttv   { font-family: monospace; }
.box   { padding: 0.4em; border: solid 1px #eeeeee; background: #eeeeee; }
.phead { padding: 3px; margin: 3px; background: #b0b4e4; }
